<button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
    <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="#"></a>
<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
    <span class="navbar-toggler-icon"></span>
</button>
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
        <span id="date" class="show-date"></span>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="icon-user"></i> Tere, <%= user.username %></a>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="/logout"><i class="icon-lock"></i> Logi välja</a>
    </li>
</ul>