
<!DOCTYPE html>
<html lang="et">
<head>
    <% include ../partials/head %>

    <!-- Custom style for views -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
    <% include ../partials/header %>
</header>

<div class="app-body">
    <div class="sidebar">
        <% include ../partials/sidebar %>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>

    <!-- Main content -->
    <main class="main">

        <div class="container-fluid">
            <div class="row">

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            <i class="icon-calendar"></i> Kalender
                        </div>
                        <div class="card-body">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            <i class="icon-event"></i> Uued sündmused, mis ootavad kalendrisse lisamist
                        </div>
                        <div class="card-body">
                            <p>Sündmusi saab kalendrisse lisada neid sinna lohistades.</p>
                            <hr>
                            <div id="external-events"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            <i class="icon-plus"></i> Loo uus sündmus
                        </div>
                        <div class="card-body">
                            <p class="mb-1">Vali sündmusele värv</p>
                            <ul class="fc-color-picker" id="color-chooser">
                                <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                            </ul>
                            <div class="input-group pt-1">
                                <input id="new-event" type="text" class="form-control" placeholder="Sündmuse kirjeldus">
                                <div class="input-group-btn">
                                    <button id="add-new-event" type="button" class="btn btn-primary"><i class="icon-plus"></i> Lisa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-modal">
                <div class="modal fade show" id="change-event-modal" tabindex="-1" role="dialog" aria-labelledby="change-event-modal" style="display: none;">
                    <div class="modal-dialog modal-primary" role="document">
                        <div class="modal-content">
                            <div class="modal-header" id="change-event-color">
                                <h4 class="modal-title"><i class="icon-event"></i> Muuda sündmust</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="mb-1">Vali sündmusele uus värv</p>
                                <ul class="fc-color-picker" id="change-color-chooser">
                                    <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                                </ul>
                                <div class="form-group">
                                    <div class="input-group pt-2">
                                        <span class="input-group-addon">Muuda kirjeldust</span>
                                        <input type="text" id="change-event-desc" name="change-event-desc" class="form-control" title="Kirjeldus">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete"><i class="fa fa-trash"></i> Kustuta sündmus</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close"></i> Loobu</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="save"><i class="fa fa-floppy-o"></i> Salvesta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </main>

</div>

<div id="message-box"></div>

<footer class="app-footer">
    <span class="ml-auto">Minu Ettevõte 2017</span>
</footer>

<!-- Bootstrap and necessary plugins -->
<% include ../partials/bootstrap.ejs %>

<!-- Plugins required by this view -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/et.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/locale/et.js"></script>

<!-- Custom scripts -->
<script src="js/main.js"></script>
<script src="js/calendar.js"></script>

</body>
</html>