<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <link href="css/custom.css" rel="stylesheet">
</head>

<body class="app register-page flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center p-4">
                <div class="col-6"><img class="img-fluid" alt="Minu Ettevõte" src="/img/logo-l.png"></div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1" role="tabpanel">
                    <div class="card-body">
                        <h1>Uue konto loomine</h1>
                        <form method="post">
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" name="username" class="form-control" placeholder="Kasutajatunnus">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" name="password" class="form-control" placeholder="Salasõna">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" name="password2" class="form-control" placeholder="Salasõna uuesti">
                            </div>
                            <p class="text-muted">Salasõnad peavad omavahel ühtima</p>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">Registreeri</button>
                                </div>
                            </div>
                        </form>
                        <%- messages('partials/message', locals) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap and necessary plugins -->
<% include ../partials/bootstrap.ejs %>

</body>
</html>
